@import url('base-audio-node-element.css');

button[aria-checked="true"] {
	color-scheme: dark;
}

button[aria-checked="false"] {
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	button[aria-checked="true"] {
		color-scheme: light;
	}

	button[aria-checked="false"] {
		color-scheme: dark;
	}
}

